<form {{action 'validate' on='submit'}}>
    <div class="sent{{if this.sent ' success' ''}}">
        <button class="btn btn-light" type="button" {{action 'closeSent'}}><MdIcon @icon="close"/></button>
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
        <h5>Your message has been sent!</h5>
    </div>
    <div class="form-group row">
        <label for="first-name" class="col-sm-4 col-form-label">Voornaam</label>
        <div class="col-sm-8">
            <div class="{{if (is-empty this.email.firstName) 'required' ''}}">
                <Input id="first-name" name="first-name" @value={{this.email.firstName}} @type="text" class="form-control" placeholder="John" required={{true}}/>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="last-name" class="col-sm-4 col-form-label">Achternaam</label>
        <div class="col-sm-8">
            <div class="{{if (is-empty this.email.lastName) 'required' ''}}">
                <Input id="last-name" name="last-name" @value={{this.email.lastName}} @type="text" class="form-control" placeholder="Smith" required={{true}}/>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
            <div class="{{if (is-empty this.email.email) 'required' ''}}">
                <Input id="email" name="email" @value={{this.email.email}} @type="email" class="form-control" placeholder="naam@bedrijf.nl" required={{true}}/>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="phone" class="col-sm-4 col-form-label">Telefoonnummer</label>
        <div class="col-sm-8">
            <Input id="phone" name="phone" @value={{this.email.phone}} @type="tel" class="form-control" placeholder="(123) 456-5934" />
        </div>
    </div>
    <div class="form-group row">
        <label for="subject" class="col-sm-4 col-form-label">Onderwerp</label>
        <div class="col-sm-8">
            <div class="{{if (is-empty this.email.subject) 'required' ''}}">
                <Input id="subject" name="subject" @value={{this.email.subject}} @type="text" class="form-control" placeholder="Waar gaat het over?" required={{true}}/>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Dakscan aanvragen?</label>
        <div class="col-sm-8">
            <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                <label class="btn btn-secondary{{if this.email.wantScan ' active' ''}}" {{action (mut this.email.wantScan) true}}>
                    <Input id="scan-yes" @type="radio" name="scan" @checked={{this.email.wantScan}} /> Ja
                </label>
                <label class="btn btn-secondary{{if (not this.email.wantScan) ' active' ''}}" {{action (mut this.email.wantScan) false}}>
                    <Input id="scan-yes" @type="radio" name="scan" @checked={{not this.email.wantScan}} /> Nee
                </label>
            </div>
        </div>
    </div>

    <div class="roof-scan {{if this.email.wantScan 'open' 'closed'}}">
        <div class="form-group row">
            <div class="col-12">
                <div class="alert alert-warning nm" role="alert">
                    Alleen daken groter dan 3.500 m<sup>2</sup>.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="roof" class="col-sm-4 col-form-label">Aantal m<sup>2</sup></label>
            <div class="col-sm-8">
                <div class="{{if (is-empty this.email.roofSize) 'required' ''}}">
                    <Input id="roof" name="roof" @value={{this.email.roofSize}} @type="number" class="form-control" placeholder="3500" required={{this.wantScan}}/>
                </div>
            </div>
        </div>
        <div class="form-group row address">
            <label for="zip-code" class="col-sm-4 col-form-label">Adres</label>
            <div class="col-sm-8 d-flex">
                <div class="{{if (is-empty this.email.zip) 'required ' ''}}zip-code">
                    <Input id="zip-code" name="zip-code" @value={{this.email.zip}} @type="text" class="form-control" placeholder="Postcode" />
                </div>
                <div class="{{if (is-empty this.email.houseNumber) 'required' ''}}">
                    <Input id="house-number" name="house-number" @value={{this.email.houseNumber}} @type="text" class="form-control" placeholder="Huisnummer" required={{this.wantScan}}/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="street" class="col-sm-4 col-form-label">Straat</label>
            <div class="col-sm-8">
                <div class="{{if (is-empty this.email.street) 'required' ''}}">
                    <Input id="street" name="street" @value={{this.email.street}} @type="text" class="form-control" placeholder="Straatnaam" required={{this.wantScan}}/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-4 col-form-label">Plaats</label>
            <div class="col-sm-8">
                <div class="{{if (is-empty this.email.city) 'required' ''}}">
                    <Input id="city" name="city" @value={{this.email.city}} @type="text" class="form-control" placeholder="Naam stad/dorp" required={{this.wantScan}}/>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="message" class="col-sm-4 col-form-label">Vraag of opmerking</label>
        <div class="col-sm-8">
            <Textarea id="message" name="message" @value={{this.email.message}} class="form-control" placeholder="Vertel ons meer over uw project, behoeften en tijdlijn."/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-md-8 offset-md-4">
            <div class="custom-control custom-checkbox">
                <Input id="newsletter" class="custom-control-input" @type="checkbox" name="newsletter" @checked={{this.email.wantNews}} />
                <label class="custom-control-label" for="newsletter" {{action (mut this.email.wantNews) (not this.email.wantNews)}}>Schrijf me in voor de nieuwsbrief.</label>
            </div>
        </div>
    </div>
    <div class="form-group row mb0">
        <div class="col-12 col-md-8 offset-md-4">
            <div class="d-flex">
                {{#if this.error}}
                    <div class="alert alert-danger mb-2" role="alert">
                        {{this.error}}
                    </div>
                {{/if}}
                <button type="submit" disabled={{this.submit.isRunning}} class="btn btn-primary btn-block">Versturen</button>
            </div>
        </div>
    </div>
</form>