<div id="banner">
    <div class="container">
        <h1>Verhuur uw dak, Verdien direct!</h1>
        <h2>Zonder investering verdienen aan uw dak!</h2>
    </div>
    <div id="top-decor">
        <img src="/img/header-photo.png" alt="solar pannels on a warehouse roof" />
    </div>
</div>


<div class="section intro">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-8">
                <h3>Verhuur uw dak, <strong>verdien direct</strong></h3>
                <p><strong>Uw dak verhuren, gratis zonnepanelen erop, en direct verdienen?</strong><br/>Wij regelen het voor u. Zonder gedoe. Door heel Nederland huren we daken en plaatsen we zonnesystemen. Is uw dak groter dan 3.500 m2 en wilt u ook duurzaam verdienen? Xaam. future energy.</p>
            </div>
        </div>
    </div>
</div>

<div class="section products">
    <h3>Wat we <strong>doen</strong></h3>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <div class="product">
                        <img src="/img/illustrations/klimaattechniek.svg" alt="Klimaattechniek"/>
                        <h4>Klimaattechniek</h4>
                        <p>Creeer op een duurzame manier het optimale binnenklimaat</p>
                        <LinkTo @route="product.klimaattechniek" class="btn btn-primary">Learn more...</LinkTo>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="product">
                        <img src="/img/illustrations/dakverhuur.svg" alt="Dakverhuur"/>
                        <h4>Dakverhuur</h4>
                        <p>Uw dak verhuren, gratis zonnepanelen erop en direct verdienen</p>
                        <LinkTo @route="product.dakhuur" class="btn btn-primary">Learn more...</LinkTo>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="product">
                        <img src="/img/illustrations/led-verlichting.svg" alt="Led verlichting"/>
                        <h4>Led verlichting</h4>
                        <p>Direct energie besparen op een goedkope en makkelijke manier</p>
                        <LinkTo @route="product.led-verlichting" class="btn btn-primary">Learn more...</LinkTo>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section carousel">
    <h3>Onze producten en diensten<br/><strong>uw voordelen</strong></h3>
    <div class="wrap">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-6">
                    <span class="index">{{this.carouselIndex}}</span>
                    <BsCarousel
                        @autoPlay={{true}}
                        @wrap={{true}}
                        @index={{0}}
                        @interval={{5000}}
                        @keyboard={{true}}
                        @ltr={{true}}
                        @pauseOnMouseEnter={{true}}
                        @showControls={{true}}
                        @showIndicators={{false}}
                        @onSlideChanged={{action "slideChanged"}}
                        as |car|>
                            {{#each this.slides as |slide|}}
                                <car.slide>
                                    <div class="d-flex slide align-items-center">
                                        <img src="img/icons/{{slide.image}}" alt={{slide.alt}}/>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h5>{{slide.title}}</h5>
                                            <p>{{slide.text}}</p>
                                        </div>
                                    </div>
                                </car.slide>
                            {{/each}}
                    </BsCarousel>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section contact">
    <div id="bottom-decor"></div>
    <div class="container" id="contact-us">
        <h3>Contact Our Sales Team</h3>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="quote-form-wrap">
                    <QuoteForm />
                </div>
            </div>
            <div class="col-12 col-md-6 details">
                <h5>Waarom Greenovate</h5>
                <ol>
                    <li>Wij recuderen uw tijdinvestering tot het minimum / Wij brengen u gemak en tijdbesparing</li>
                    <li>Alleen A-merken</li>
                    <li>van A tot Z geregeld</li>
                    <li>Geen gedoe</li>
                </ol>
            </div>
        </div>
    </div>
</div>